
<div class="card-category m-3" style="background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681)">
  Cocktails
</div>

<%= link_to '+ Add a cocktail', new_cocktail_path, class: 'btn btn-warning' %>
<div class="row">
  <div class="banner" url(../images/Bannercocktail.jpg)>

  </div>

  <% @cocktails.each do |cocktail| %>

    <div class="col-sm m-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= cocktail.name %> </h5>
          <p class="card-text"> <%= cocktail.ingredients.count %> ingredients</p>
          <%= link_to 'See details', cocktail_path(cocktail), class: 'btn btn-warning' %>
        </div>
      </div>
    </div>

  <% end %>

</div>

