<h1>Add a new cocktail</h1>
<div class="m-3">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Add to list', class: 'btn btn-warning' %></div>
  <% end %>
    <%= link_to 'Cancel', cocktails_path, class: 'btn btn-info' %>
</div>
