.wrapper {
  background-color: #FEE7EA;
}

.btn-warning {
  background-color: #FDDB64 !important;
}

.btn-info {
  background-color: #9DD5B9 !important;
}

h1 {
  font-family: 'Homemade Apple', cursive;
}
